body {

}

#wordbox {
    /* text-align: center;
    height: 1em;
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}

#completeText{
    width: 33%;
    text-align: justify;
}
